body {
    height: 200vh;
}

header {
    position: fixed;
    top: 0px;
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

#head-text {
    color: white;
}
#head-text-2 {
    color: grey;

}



.big-picture {
    height: 80vh;
    width: 100%;
    background-image: url('https://www.spacex.com/sites/spacex/files/jcsat18_pad39a_streak.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;

}

#image-bar {
    position: absolute;
    bottom: 0;
    height: 15vh;
    width: 100%;
}

.under-picture {
   
    opacity: .8;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    color: white;
}

.watch-replay {
    background-color: white;
}

.three-choices {
    opacity: .8;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.three-boxes {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#boxes {
    height: 75px;
    width: 75px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}