header {
    position: fixed;
    top: 0px;
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#head-text {
    color: white;
}
#head-text-2 {
    color: grey;

}

img {
    width: 100%;
}

.under-picture {
    
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    color: white;
}